<div class="tweet">
  <div class="flex">
    <%= image_tag "profile-#{rand(4)}.png", class: "profile profile__pic" %>

    <section class="tweet__content">
      <div>
        <div class="profile__username flex flex__content-space-between">
          <div>
            <%= link_to "@#{tweet.user.username}",  user_path(tweet.user.username), remote: true, class: "profile__user" %>
          </div>

          <% if current_user.username == tweet.user.username %>
            <div>
              <%= link_to '×', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "profile__delete-tweet essential__display-none animated" %>
            </div>
          <% end %>
        </div>
      </div>

      <div>
        <p>
          <%= auto_link(tweet.content, :html => { :target => '_blank' }) do |text| %>
            <% truncate(text, :length => 40) %>
          <% end %>
        </p>

        <div class="tweet__actions essential__display-none animated">
          <i class="fa fa-comment-o" aria-hidden="true"></i>
          <i class="fa fa-retweet" aria-hidden="true"></i>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
      </div>
    </section>
  </div>
</div>