<div>
  <div class="timeline"  id="timeline--profile">
    <div class="timeline--page"  id="timeline--tweets--profile">
      <%= render @tweets %> 
      <%= paginate @tweets %>
    </div>
  </div>
</div>    