<div class="timeline__header flex flex__content-space-between flex__align-center essential__shadow">
  <h3>Mentions</h3>
  <i class="fa fa-angle-down" aria-hidden="true"></i>
</div>

<section>
  <div class="mention__v-center text__align-center">
    <%= image_tag "twitter-gray.png"%>
    <p class="mention__no-mentions-text">You don't have any mentions yet!</p>
  </div>
</section>