<div class="grid space--minor-top ">
  <div class="container flex flex--wrap flex--flex-start">
    <div class="grid__column grid__column--8 bg--white left-margin">
      <h1>Hello!</h1>
      <ul class="timeline">
      <% @tweets.each do |tweet| %>
        <li class="timeline--list">
          <ul class="flex">
            <li><%= image_tag "profile.jpg", :class => "timeline--profile space--minor-right" %></li>
            <div>
            <li class="timeline--username">@<%= tweet.user.username %></li>
            <li class="timeline--tweet"><%= tweet.content %></li>
            <div>
          </ul>
        </li>
         <hr class="line space--minor-bottom">
      <% end %>
      </ul>
    </div>

    <div class="grid__column grid__column--3 bg--white only-desktop left-margin space--medium-left">
      <h2 class="home--title">Trending</h2>
      <hr class="line space--minor-bottom">

      <ul class="home--thrending space--medium-bottom">
        <% 10.times do |i| %>
          <li><%= Faker::Zelda.item %></li>
        <% end %>
      </ul>

     <hr class="line space--minor-bottom">
      <p class="color--black text--center text--small divider--minor-bottom">Twinter 2018 &copy all rights reserved.</p>
    </div>
    
  </div>
</div>