<div class="grid space--major-top ">
  <div class="container flex flex--wrap">
    <div class="grid__column grid__column--9 bg--secundary">
        <h1>Hello!</h1>
    </div>
    <div class="grid__column grid__column--3 bg--primary only-desktop">
      <h2>There</h2>
    </div>
    
  </div>
</div>