@import 'variables';

.account__pic {
  margin: $medium auto $between auto;
  display: block;
  width: 80px;
  border-radius: 40px;
  border: 2px solid $white;
}

.account__text {
  display: block;
  text-align: center;
  color: $white;
  font-weight: bold;
}

.account__username {
  margin: 0 auto $micro auto;
  text-transform: capitalize;
  font-size: $big;
}

.account__username-tag {
  margin: 0 auto;
  font-size: $small;
  color: $light-gray;
  text-transform: lowercase;
  padding-top: $micro;
  text-align: center;
  padding: 0px;
}

.account__bio {
  margin: 0 0 $medium 0;
  padding: 0 $minor;
  font-size: $medium-text;
  font-weight: normal;
}

.account__info {
  // padding-top: $minor;
  // border-top: 1px solid $option;
  b {
    font-size: $medium-text;
    color: $font-color;
    font-weight: bold;
  }
  p {
    text-align: center;
    color: $white;
    font-size: $big;
    margin: $micro auto 0px auto;
  }
}

.account__divider {
  padding: $minor 0;
  border-top: 1px solid $option;
  border-bottom: 1px solid $option;
}