@import 'variables';

.alert  {
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
  color: $white;
}

.alert-success {
  background-color: $sucess
}

.alert-danger {
  background-color: $danger;
}

.danger {
  color: $danger;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

.error {
  font-size: 12px;
  color: $danger;
  text-transform: uppercase;
}