@import 'variables';

.bg--primary {
  background-color: $secundary;
}

.bg--secundary {
  background-color: $primary;
}

.bg--home {
  background: asset-url('bg-home.png')  center;
  max-width: 100%;
  background-attachment: fixed;
  background-color: $primary
}

.bg--white {
  background-color: $white; 
}

.bg--option {
  background-color: $option;
}