@import 'variables';

.bg--primary {
  background-color: $secundary;
}

.bg--secundary {
  background-color: $primary;
}

.bg--home {
  background: asset-url('bg-home-2.png')  center;
  max-width: 100%;
  background-attachment: fixed;
  background-color: $primary
}

.bg--white {
  background-color: $white; 
}

.bg--option {
  background-color: $option;
}

.bg--option-font {
  background-color: $option-font;
}

.bg--pic {
  // background: asset-url('bg-login-4.png')  center;
  // max-width: 100%;
  // background-attachment: fixed;
  // background-color: $primary;

  // &::after {
  //   background-color: $gray;
  // }
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(77, 82, 106, 0.45), 
      rgba(81, 81, 111, 0.45)
    ),
    /* bottom, image */
    url('bg-profile.jpg');
}