@import 'variables';

.button {
  display: block;
  background: $primary;
  border: none;
  padding: 15px 30px;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  white-space:normal;
}

.button--block {
  width: 100%;
}