@import 'variables';

.button {
  padding: $between $minor;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button__block {
  width: 100%;
}

.button__square {
  border-radius: 0px;
}

.button__tweet {
  background: $secundary;
}

.button__secundary {
  background: $secundary;
}

.button__disabled {
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
}