@import 'variables';
.devise {
  background: $primary;
}

.devise__presentation {
  height: 100vh;
}

.devise__space {
  padding-top: 15%;
}

.devise__space-input {
  padding-top: 30%;
}

.devise__title {
  color: $white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding: $minor;
}

.devise__title-input {
  color: $black;
  font-size: $bigger;
}

.devise__info {
  color: $white;
  text-align: center;
  margin: 0px;
  padding-bottom: $minor;
  font-size: $bigger;
}
.devise__top-links {
  margin-right: $minor;
}

.devise__links {
  color: $gray;
  font-weight: normal;
  text-decoration: none;
  font-size: $big;
  transition: 0.5 ease;

  &:hover {
    border-bottom: 1px solid $gray;
    // text-decoration: underline;
  }
}

.devise__inputs {
  padding: 40% $medium;
}

.devise__inputs-sing-up {
  padding: 15% $medium;
}

.user_login label, .user_password label, .user_email label, .user_username label, .user_password_confirmation label {
  color: $black;
  font-size: $big;
  text-transform: capitalize;
  margin-bottom: $between;
}

.user_password label, .user_username label, .user_password_confirmation label {
  margin-top: $minor;
}

.user_login input, .user_password input, .user_email input, .user_username input, .user_password_confirmation input {
  border: 1px solid $gray;

  &:focus {
    border-color: $primary;
  }
}

input#user_remember_me {
  width: 15px;
  height: 15px;
  background: none;
  border: 1px solid $secundary;
  margin-right: $micro;
}

.devise__remember-me {
  text-transform: capitalize;
  color: $gray;
  font-size: $medium-text;
}

abbr[title] {
  display: none;
}