$primary: #808EDF;
$secundary: #645BA1;
$option: #79A5EA;
$white: #fff;

.center {
  margin: 0 auto;
}

.devise {
  background-color: $primary
}

.bg-white {
  background-color: $white;
}

.downpad {
  padding-bottom: 30px;
}