@import 'variables';
@import 'alerts';
@import 'essencials';

.center {
  margin: 0 auto;
}

.devise {
  background: asset-url('bg-login-4.png')  center;
  max-width: 100%;
  background-attachment: fixed;
  //background-size: cover;
  background-color: $primary
}

.downpad {
  padding-bottom: 30px;
}

.space-to-center {
  margin-top: 10%;
  // -webkit-box-shadow: -4px 3px 40px -4px rgba(77,77,77,0.63);
  // -moz-box-shadow: -4px 3px 40px -4px rgba(77,77,77,0.63);
  // box-shadow: -4px 3px 40px -4px rgba(77,77,77,0.63);

  @include d(s) {
    margin-top: 15%;
  }
}

.left-margin {
  padding-left: 15px;
  padding-right: 15px;
}

.space-field {
  margin-bottom: 10px;

  @include d(s) {
    margin-bottom: 20px;
  }
}

.links {
  color: $white;
  font-size: 15px;
  line-height: 1.4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr.line {
  border: none;
  display: block;
  height: 1px;
  background: $light-gray;
}

h1 {
  margin: 0px;
  padding: 30px 0;
  text-align: center;
  color: $black;
}

h2 {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 30px 0;
  color: $white;
  text-transform: uppercase;
  font-size: 25px;
}


.mobile-grid {
  max-width: 90%;

  @include d(m) {
    max-width: 80%;
  }
}

.grid__column--3 {
  @include d(p) {
    width: 55%;
  }
}

label {
  color: $white;
  margin-bottom: $between;
}

.user_username, .user_email, .user_password, .user_password_confirmation {
  margin-bottom: $between;
}

.flex--sign-up {
  display: flex;

  @include d(m) {
    display: inline-block;
  }
  @include d(s) {
    display: inline-block;
  }
}