@import 'variables';

.edit-profile {
  margin: 0 $minor;
  padding-bottom: $medium;
  background: $white;
  label {
    color: $black;
    font-size: $big;
    text-transform: capitalize;
    margin-bottom: $between;
  }
  input {
    margin-bottom: $between;
    border: 1px solid $light-gray;
    display: block;
    width: 500px;
    &:focus {
      border-color: $primary;
    }
  }
}

.edit-profile__header {
  position: initial !important;
}

.edit-profile__title {
  text-align: center;
  color: $white;
  font-weight: normal;
  margin: $medium auto $major auto;
}

.edit-profile__section {
  font-size: $small;
  margin: $major 0 $micro 0;
  font-weight: normal;
  text-transform: uppercase;
}

.edit-profile__pic {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -$medium;
  z-index: 8;
}
.edit-profile__center {
  margin: 0 auto;
}

.edit-profile__footer {
  padding: $minor;
  border-top: 1px solid $light-gray;
  h4 {
    margin: 0px;
    color: $black;
    font-weight: bold;
  }
}

.edit-profile__button {
  width: auto !important;
}