@import 'variables';

.top-divider {
  padding-top: 30px;
}

.divider-top {
  padding-top: 10px;
}

.bottom-divider {
  margin-bottom: 30px !important;
}

.center-this {
  text-align: center;
  margin: 0 auto;
}

abbr[title] {
  display: none;
}

.logo  {
  display: block;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;

  @include d(s) {
    width: 35%;
  }
}

.label-form {
  color: $white;
}