@import 'variables';

.essential {
  max-height: 100vh;
  overflow: hidden;
}

.essential__font {
  font-family: 'Montserrat',Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.essential__display-none {
  display: none !important;
}

.essential__relative {
  position: relative;
}

.essential__fixed {
  position: fixed;
}

.essential__shadow {
  box-shadow: 3px 1px  15px #eeeded;
}

.essential__shadow--dark {
  box-shadow: 0px 1px  5px #6c94b8;
}

.essential__color-white {
  background: $white;
}

.essential__lighter {
  font-weight: lighter;
}

.essential__no-margin {
  margin: 0px;
}