@import 'variables';

.flex {
  display: flex;
  
}

.flex__center-content {
  justify-content: center;
}

.flex__content-space-between {
  justify-content: space-between;
}

.flex__content-flex-end {
  justify-content: flex-end;
}

.flex__align-center {
  align-items: center;
}

.flex__align-baseline {
  align-items: baseline;
}

.flex__items {
  padding: 0px $between;
}

.flex__wrap {
  flex-flow: row wrap
}