@import 'variables';

.flex {
  display: flex;
  
}

.flex__center-content {
  justify-content: center;
}

.flex__content-space-between {
  justify-content: space-between;
}

.flex__align-center {
  align-items: center;
}


.flex__items {
  padding: $between;
}

.flex__wrap {
  flex-flow: row wrap
}