@import 'variables';

.footer__menu {
  position: fixed;
  bottom: 45px;
  display: block;
  cursor: pointer;
  width: $width-lateral-menu;

  p {
    margin: 0px;
    z-index: 5;
    background: $primary;
    color: $white;
    z-index: 5;
    font-size: $big;

    &:hover {
      background: $secundary;
    }
  }
  i {
    text-align: left;
    color: $white;
    display: inline-block;
    padding: $minor $minor $minor $medium;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: $white;
    z-index: 1;
  }
}

.footer__menu ul li {
  border: 1px solid $primary;
  padding: 15px;
  text-align: center;

  a {
    color: $font-color;
    font-weight: lighter;
    text-decoration: none;
  }
}

.footer__footer {
  width: $width-lateral-menu;
  padding: $minor;
  margin: 0px;
  font-size: $small;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid $option;
  color: $light-gray;
  text-align: center;
  background: $primary;

  i {
    color:  #F92D3F;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}