@import 'variables';

.menu {
  background: $primary;
  width: $width-lateral-menu;
  height: 100%;
  z-index: 3;
}

.menu__opened {
  width: $width-lateral-menu*2;
}

.menu__menu {
  width: $width-lateral-menu;
  height: 100%;
  border-right: 1px solid $option;
  background: $primary;
  z-index: 2;
}

.menu__logo {
  background: $secundary;
  padding: $minor;
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.menu__items {
  padding: 0px;
  list-style: none;
  text-align: left;
  flex-flow: column nowrap;

  a {
    display: block;
    text-decoration: none;
    color: $white;
    font-size: $big;
    font-weight: lighter;
    padding: $between 0;
    border-top: 1px solid $option;

    i {
      padding: 0 $minor 0 $medium;
    }

    &:hover{
      color: $hover-links;
    }
  }

  li:last-child {
    border-bottom: 1px solid $option;
  }
}

.menu__option {
  z-index: -1;
}