@import 'variables';

.new-tweet {
  background: $primary;
  width: $width-lateral-menu;
  z-index: 1;
}

.new-tweet__menu {
  background: $secundary;
  cursor: pointer;
}

.new-tweet__header {
  background: $secundary;
  padding: $minor;
  color: $white;
  font-size: $bigger;
  text-align: center;
  h3 {
    font-size: $bigger;
    margin: 0px;
  }
}

.new-tweet__quit {
    cursor: pointer;
    
    &:hover {
        color: $hover-links;
    }
}

.new-tweet__input {
    padding: 0px $minor;
    h3 {
        margin: 0px;
        color: $white;
        padding: $between 0;
        font-weight: lighter;
        font-size: $big;
    }
    textarea {
        border-radius: 8px;
    }
}

.caracteres {
    color: $white;
}