@import 'variables';

.image-caroulsel  {
  max-width: 100%;
  width: 120px !important;
  margin: 0 auto;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $secundary;
}

.owl-theme .owl-dots .owl-dot span {
  background: $white;
}