@import 'variables';

.profile-card--image {
  max-width: 100%;
  width: 70px;
  border-radius: 35px;
  margin: 0 auto;
}

.profile-card--username {
  margin: 0px;
  padding: 0px;
  color: $white;
  margin: $between auto;
}

.profile-card--quote {
  color: $light-gray;
  font-size: $medium-text;
  margin: 0px;
}

.profile-card--followers {
  justify-content: space-around;
  background-color: $white;
}

.profile-card--followers ul {
  list-style: none;
  color: $black;
  font-size: $medium-text;
  margin: 0px;
  padding: 0px;

  padding: $between 0;
}

.profile-card--followers li {
  text-align: center;
  font-weight: bold;
}

.profile-card--followers li:first-child {
  font-weight: normal;
  color: $option-font;
  padding-bottom: $between;
  &::after {
    content: '';
    display: block;
    height: 1px;
    background: $light-gray;
    width: 95px;
    margin-top: $between;
  }
}

.profile-card--border {
  border-bottom: 2px solid $black;
  border-top: 2px solid $black;
}

