@import 'variables';
.profile {
  padding-left: $minor;
}

.profile__pic img {
  
  width: 61px;
  flex-grow: 0;
  border-radius: 50%;
}

.profile__username {
  width: 100%;
}

.profile__username span {
  padding: 0px $between;
}

.profile__user a {
  color: $black;
  text-decoration: none;
  font-weight: bold;
  font-size: $medium-text;
  cursor: pointer;

  &:hover {
    color: $hover-links;
  }
}

.profile__delete-tweet a {
  text-decoration: none;
  color: $gray;
  transition: 0.5s ease;
  &:hover {
    color: $hover-links
  }
}

.profile p {
  flex-direction: column;
}

.profile__card {
  z-index: 999;
}

.profile__quit {
  background: $primary;
  color: $white;
  

  span {
    padding: $micro $between;
    cursor: pointer;
    &:hover {
      color: $hover-links;
    }
  }
}


.profile__resume {
  position: sticky;
  top: 0vh;
  background: $primary;
  padding: $micro 0 $minor 0;
  // border-bottom: 1px solid $option;
  box-shadow: 0px 3px  20px #bbb;
}

.profile--pic {
  margin: $micro auto;
}

.profile--bio {
  max-width: 300px;
  margin: $minor auto $medium;
}