@import 'variables';

// align

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

// font size

.text--small {
  font-size: $small;
}

.text--medium {
  font-size: $medium;
}

.text--big {
  font-size: $big;
}


.text--block__mw {
  display: block;
  max-width: 80%;
}