@import 'variables';
.timeline {
  border-right: 1px solid $light-gray;
  position: relative;
}

.timeline__header {
  position: sticky;
  border-bottom: 1px solid $light-gray;
  background: $white;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  padding: 12px 0;
  text-align: center;
}

.timeline__header i {
  padding-right: $between;
  position: absolute;
  top: 20px;
  right: 0;
}

.timeline__header h3 {
  margin: 0px;
  font-size: $bigger;
  font-weight: lighter;
}

.timeline__tweets {
  padding: 0px;
}

.timeline__scroll {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
 .timeline__scroll::-webkit-scrollbar-track
 {
   background-color: #F5F5F5;
 }
 
 .timeline__scroll::-webkit-scrollbar
 {
   width: 6px;
   background-color: #F5F5F5;
 }
 
 .timeline__scroll::-webkit-scrollbar-thumb
 {
   background-color: #ccc;
 }
 
.pagination {
   display: none;
 }

 .timeline__status p {
   font-size: $small;
   color: $gray;
   margin: 0px;
   padding: $between 0;
 }