@import 'variables';
.timeline {
  border-right: 1px solid $light-gray;
  position: relative;
}

.timeline__header {
  position: sticky;
  border-bottom: 1px solid $light-gray;
  background: $white;
  left: 0;
  right: 0;
  top: 0;
}

.timeline__header i {
  padding-right: $between;
}

.timeline__header h3 {
  margin: 0px;
  padding: $minor;
  font-size: $bigger;
  font-weight: lighter;
}


.timeline__tweets {
  list-style: none;
  padding: 0px;
}

.timeline__scroll {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
} 

.timeline__list {
  padding: $between 0 $micro 0 ;
  border-bottom: 1px solid $light-gray;
}

.timeline__tweet-content {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  word-wrap: break-word;
  li {
    list-style: none;
  }

  li p {
    max-width: 750px;
    padding: $micro $minor;
    margin: 0px;
  }
}

.pagination {
   display: none;
 }

 .timeline__status p {
   font-size: $small;
   color: $gray;
 }

.timeline__trending {
  position: fixed;
  width: 100%;
  list-style: none;
  padding: 0px;
  height: 100%;
  margin: 0px;
  height: 100vh;
  overflow: auto;

  li {
    padding: $minor;
    border-bottom: 1px solid $light-gray;
  }

}

.timeline__trending li:last-child {
  margin-bottom: $major;
}

.timeline__trending-title {
  color: $primary;
  font-weight: bold;
  font-size: $big;
}

.timeline__trending-description {
  padding: $micro 0px;
  color: $gray;
  font-size: $medium-text;
}

.timeline__trending-people {
  color: #cdcdcd;
  font-size: $small;
}

.timeline__actions {
  margin-left: $minor;

  i {
    font-size: $small;
    color: $gray;
    padding: $micro $between;
    cursor: pointer;
  }

  i:first-child {
    padding-left: 0px;
  }
}

.fa-retweet:hover {
  transition: 0.5 ease;
  color: $sucess;
}

.fa-heart-o:hover {
  transition: 0.5 ease;
  color: $danger;
}

.fa-comment-o:hover {
  transition: 0.5 ease;
  color: $primary;
}