@import 'variables';

.tweet {
  padding: $between 0 $micro 0 ;
  border-bottom: 1px solid $light-gray;
  background: $white;
  font-weight: 400;
}

.tweet__username-tag {
  color: $gray;
  text-decoration: none;
}

.tweet__content {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  word-wrap: break-word;
  
  p {
    max-width: 750px;
    padding: $micro $minor;
    margin: 0px;
    font-size: $medium-text;

    a {
      color: $secundary;
      text-decoration: none;
      &:visited {
        color: $primary;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.tweet__actions {
  margin-left: $minor;

  i {
    font-size: 15px;
    color: $gray;
    padding: $micro $between;
    cursor: pointer;
  }

  i:first-child {
    padding-left: 0px;
  }
}

.fa-retweet {
  font-size: 17px !important;
}

.fa-retweet:hover {
  transition: 0.5 ease;
  color: $sucess;
}

.fa-heart-o:hover {
  transition: 0.5 ease;
  color: $danger;
}

.fa-comment-o:hover {
  transition: 0.5 ease;
  color: $primary;
}