$primary: #82B2DB;
// $primary: #81a9cc;
$secundary: #6cc4f8;
$font-color: rgb(84, 107, 136);
$option: #6c94b8;
$option-font: #5BA8E2;

$hover-links: rgb(84, 107, 136);;

$white: #fff;
$black: #191C22;
$gray: #657786;
$light-gray: #eeeeee;

$sucess: #0FCD8D;
$danger: #FB7372;
$alert: #FA9D12;

$micro: 5px;
$between: 10px;
$minor: 15px;
$medium: 30px;
$major: 60px;

$small: 12px;
$medium-text: 15px;
$big: 20px;
$bigger: 24px;

$width-lateral-menu: 240px;

// Box-sizing
*, *::after, *::before {
	box-sizing: border-box;
}

// Mixin de media-queries
@mixin d($size) {
	@if $size == l {
		@media screen and (min-width: 1600px) {
			@content;
		}
	}
	@else if $size == m {
		@media screen and (min-width: 768px) and (max-width: 1600px - 1) {
			@content;
		}
	}
	@else if $size == s {
		@media screen and (max-width: 766px) {
			@content;
    }
  }
  @else if $size == sm {
    @media screen and (max-width: 1200px) {
			@content;
    }
  }
  @else if $size == p {
    @media screen and (min-width: 1024px) and (max-width: 1200px - 1) {
			@content;
		}
  }
}