$primary: #5060DE;
$secundary: #191C22;
$option: #79A5EA;

$white: #fff;
$black: #444;
$gray: #848484;
$light-gray: #eeeeee;

$sucess: #0FCD8D;
$danger: #FB7372;

$micro: 5px;
$between: 10px;
$minor: 15px;
$medium: 30px;
$major: 60px;

$small: 11px;
$medium: 15px;
$big: 20px;

// Box-sizing
*, *::after, *::before {
	box-sizing: border-box;
}

// Mixin de media-queries
@mixin d($size) {
	@if $size == l {
		@media screen and (min-width: 1200px) {
			@content;
		}
	}
	@else if $size == m {
		@media screen and (min-width: 768px) and (max-width: 1200px - 1) {
			@content;
		}
	}
	@else if $size == s {
		@media screen and (max-width: 766px) {
			@content;
    }
  }
  @else if $size == sm {
    @media screen and (max-width: 1200px) {
			@content;
    }
  }
  @else if $size == p {
    @media screen and (min-width: 1024px) and (max-width: 1200px - 1) {
			@content;
		}
  }
}